/*grid*/
.container{
    display: grid;
    grid-template-areas: ". navbar ." "body body body" "foot . .";
    grid-template-rows: 40%;
    grid-template-columns: 1fr 3fr 1fr;
}
header{
    grid-area: navbar;
}
section{
    grid-area: body;
}
footer{
    grid-area: foot;
}
/*style header*/
header{
    background: white;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 12px;
    margin: 0;
}
/*style button*/
button{
    background: white;
    color: black;
    border: 1px white solid;
    height: 40px;
}
/*style button for the current page*/
#currentpage{
    background: black;
    color: white;
}
/*style each page's body*/
.home{
    background: red;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    padding: 5px;
}
.about{
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 5px;
}

.products{
    background: white;
    border: 1px solid orange;
    border-radius: 5px;
    color: black;
    padding: 5px;
}

.contact{
    background: white;
    border: 1px solid blueviolet;
    border-radius: 5px;
    color: black;
    padding: 5px;
}